* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Jost", sans-serif;
}

/* HEADER  */
header {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  height: 120px;
  z-index: 10;
  width: 100%;
  border-bottom: 1px solid rgba(128, 128, 128, 0.568);
  transition: all 0.5s;
}

/* HEADER NAV BAR  */
#navbarNavDropdown {
  justify-content: space-between;
}
.navbar-nav {
  margin-left: 200px;
}
.header_search {
  position: relative;
}
/* search button  */
.header_search .search-btn .icon-search {
  transition: all 0.5s ease-in-out;
}
.header_search .search-btn {
  display: inline-block;
  font-size: 15px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #198754;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s;
}
/* close button  */
.header_search .close-btn {
  height: 40px;
  width: 40px;
  position: absolute;
  bottom: -55px;
  opacity:0;
  cursor: pointer;
  pointer-events: none;
  transform: rotate(90deg);
  transition: all 0.5s ease-in-out;
  
}
/* input search  */
header form .search-input {
  color: white;
  outline: none;
  font-size: 50px;
  border: none;
  padding: 20px;
  margin-left: 200px;
  width: 50%;
  top: calc(100% + 198px);
  position: absolute;
  pointer-events: none;
  opacity: 0;
  background-color: transparent;
  transition: all 0.5s;
  transform: translateX(100px);
}
/* search bar willl open when click on search btn  */
body.nav-search .header_search .search-btn {
  transform: scale(80);
}
body.nav-search .header_search .search-btn .icon-search {
  opacity:0;
}
/* search bar will close when click on search close  */
body.nav-search .header_search .close-btn {
  opacity: 1;
  pointer-events: all;
  transform: rotate(0);
  
}
body.nav-search header form .search-input {
  opacity: 1;
  pointer-events: all;
  transform: translateX(0);

}

.navbar-nav .nav-item .nav-link.active {
  color: white !important;
}
.navbar-nav .nav-item {
  margin-right: 20px;
}
.navbar-nav .nav-item .nav-link {
  color: rgb(211, 208, 208) !important;
  transition: all 0.5s;
}
.navbar-nav .nav-item .nav-link:hover {
  color: white !important;
}

/* header logo  */
a span.logo_text {
  font-size: 30px;
  font-weight: bold;
}
a span.second_text {
  font-size: 14px;
  padding-left: 40px;
}

/* dropdown item active a  */
.dropdown-item {
  transition: all 0.5s;
}
.dropdown-item:hover {
  color: #3f3a64 !important;
}
.dropdown-item:focus,
.dropdown-item:hover {
  background-color: transparent;
}


/* BANNER  */
.banner {
  background-image: url(../img/pic1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 50vh;
  position: relative;
}
.banner .banner_text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.banner .banner_text p {
  font-size: 20px;
  color: rgb(190, 190, 190);
}
.banner .banner_text h2 {
  font-size: 50px;
  color: white;
}
.banner_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgb(29 42 55 / 70%);
}

/* SERVICES  */
.services {
  background-color: #f7f7f7;
  padding: 100px 0;
}
/* title  */
.services .services_title p {
  font-size: 14px;
  color: grey;
  font-weight: 600;
}
.services .services_title h3 {
  font-size: 35px;
  color: #3f3a64;
  font-weight: 600;
}
/* content  */
.services .services_content .content_left {
  padding: 63px 50px;
}

.services .services_content .content_left img {
  width: 10%;
}

.services .services_content .content_right img {
  width: 100%;
}
.services .services_content .content_left h3 {
  font-size: 28px;
  color: #3f3a64;
  font-weight: 600;
  padding: 20px;
}
.services .services_content .content_left p {
  color: grey;
}
.services .services_content .content_left button {
  padding: 15px 50px;
  border: none;
  background-color: #009f4d;
  color: white;
  font-weight: 600;
  border-radius: 10px;
  margin-top: 20px;
  transition: all 0.5s;
}
.services .services_content .content_left button:hover {
  background-color: #007c3c;
}

/* SOLUTION 1  */
.solution_1 {
  padding: 100px 0;
}
/* title  */
.solution_1 .sol_title p {
  color: grey;
  font-weight: 600;
}
.solution_1 .sol_title h3 {
  color: #3f3a64;
  font-size: 35px;
  font-weight: 600;
}
/* content  */
.solution_1 .sol_item_box {
  background-color: #f8f9fa;
  display: flex;
  padding: 50px 40px;
  gap: 30px;
  border-radius: 5px;
  justify-content: center;
}

.solution_1 .sol_item_box .sol_item_icon span {
  display: inline-block;
  font-size: 40px;
  color: #009f4d;
}
.solution_1 .sol_item_box .sol_item_text a {
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
  color: #3f3a64;
  display: block;
  transition: all 0.5s;
}
.solution_1 .sol_item_box .sol_item_text a:hover {
  color: #009f4d;
}
.solution_1 .sol_item_box .sol_item_text p {
  color: grey;
  padding-top: 10px;
}

/* CONTACT */
.contact {
  background-image: url(../img/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
  padding: 80px 0;
}
.contact::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(29 42 55 / 70%);
  z-index: -1;
}
/* left part  */
.contact .contact_left {
  padding-top: 50px;
  padding-right: 70px;
}
.contact .contact_left .left_title {
  margin-bottom: 30px;
}
.contact .contact_left .left_title p {
  font-weight: 600;
}
.contact .contact_left .left_title h3 {
  font-weight: 600;
  font-size: 35px;
}
.contact .contact_left .left_item {
  margin-bottom: 20px;
}
.contact .contact_left .left_item.second {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}
.contact .contact_left .left_item.second .left_item_text a {
  text-decoration: none;
  color: rgb(211, 210, 210);
  transition: all 0.5s;
}
.contact .contact_left .left_item.second .left_item_text a:hover {
  color: rgb(235, 235, 235);
}
.contact .contact_left .left_item.third .left_item_text a {
  text-decoration: none;
  color: rgb(211, 210, 210);
  transition: all 0.5s;

}
.contact .contact_left .left_item.third .left_item_text a:hover {
  color: rgb(235, 235, 235);
}

.contact .contact_left .left_item .left_item_text h5 {
  color: white;
}
.contact .contact_left .left_item .left_item_text p {
  color: rgb(211, 210, 210);
  font-size: 18px;
}
/* right part  */
.contact .contact_right {
  background-color: white;
  border-radius: 10px;
  padding: 70px;
}
.contact .contact_right .right_title h4 {
  color: #3f3a64;
  font-size: 28px;
}
.contact .contact_right .right_title p {
  color: grey;
}
.contact .contact_right .right_title {
  margin-bottom: 30px;
}
/* FORM part */
.contact .contact_right .right_form form input {
  width: 100%;
  padding: 20px;
  border: none;
  background-color: #f7f7f7;
  outline: none;
  margin-bottom: 10px;
}
.contact .contact_right .right_form form textarea {
  padding: 20px;
  background-color: #f7f7f7;
  outline: none;
  width: 100%;
  border: none;
  margin-bottom: 30px;
}
.contact .contact_right .right_form form button {
  padding: 10px 40px;
  border: none;
  background-color: #009f4d;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  transition: all 0.5s;
}
.contact .contact_right .right_form form button:hover {
  background-color: #008540;
}

/* SOLUTION 2  */
.solution_2 {
  background-color: #F7F7F7;
  padding: 100px 0;
}
/* title  */
.solution_2 .sol2_title {
  margin-bottom: 50px;
}
.solution_2 .sol2_title p {
  font-weight: 600;
  color: #7E7D7D;
}
.solution_2 .sol2_title h3 {
  font-size: 35px;
  font-weight: 600;
  color: #3f3a64;
}
/* content  */
.solution_2 .sol2_content .sol2_item .sol2_item_box {
  padding:40px 30px;
  border-radius: 10px;
  transition: all 0.5s;
}
.solution_2 .sol2_content .sol2_item .sol2_item_box:hover {
  transform: translateY(-5px);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.solution_2 .sol2_content .sol2_item .sol2_item_box a {
  text-decoration: none;
  font-weight: 600;
  font-size: 22px;
  color:#3f3a64;
  padding: 20px;
  transition: all 0.5s;
}
.solution_2 .sol2_content .sol2_item .sol2_item_box a:hover {
  color: #009f4d;
}
.solution_2 .sol2_content .sol2_item .sol2_item_box p {
  color: #666666;
}

/* FOOTER  */
footer {
  background-color: #151421;
}

/* middle part */
.footer_middle .middle_content .middle_icon a span.logo_text {
  font-size: 30px;
  font-weight: bold;
}
.footer_middle .middle_content .middle_icon a span.second_text {
  font-size: 14px;
  padding-left: 40px;
}
.footer_middle .middle_content_ul ul {
  list-style: none;
  padding-left: 0;
}
.footer_middle_main .middle_content a.brand_logo {
  color: grey;
  transition: all 0.5s;
}
.footer_middle_main .middle_content a.brand_logo:hover {
  color: white;
}
.footer_middle_main .middle_content_ul ul li a {
  color: grey;
  transition: all 0.5s;
}
.footer_middle_main .middle_content_ul ul li a:hover {
  color: white;
}
.footer_middle {
  border-top: 1px solid rgba(128, 128, 128, 0.39);
}
/* footer copyright part  */
.footer_copyright {
  border-top: 1px solid rgba(128, 128, 128, 0.39);
}
.footer_copyright p a {
  color: #009f4d;
  transition: all 0.5s;
}
.footer_copyright p a:hover {
  color: white;
}

/* back to top  */
a.back_to_top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #009f4d;
  width: 50px;
  height: 50px;
  color: white;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
}
.cd-top {
  visibility: hidden;
}
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.cd-top--fade-out {
  opacity: 1;
}

/* scroll function  */
.scrollTop {
  background-color: white;
  height: 100px;
  top: -20px;
  border-bottom: none;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
}
.scrollTop .navbar-nav .nav-item .nav-link.active {
  color: #009f4d !important;
}
.scrollTop span.logo_text {
  color: #3f3a64;
}
.scrollTop .navbar-nav .nav-item .nav-link {
  color: #3f3a64 !important;
}
.scrollTop #switchButton {
  color: #3f3a64 !important;
}
/* channge text and bg when in dark theme */
.dark .scrollTop {
  background-color: black;
}
.dark .scrollTop .navbar-nav .nav-item .nav-link.active {
  color: #009f4d !important;
}
.dark .scrollTop .navbar-nav .nav-item .nav-link {
  color: rgb(211, 208, 208) !important;
}
.dark .scrollTop #switchButton {
  color: white !important;
}
.dark .scrollTop span.logo_text {
  color: white;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* darklight theme  */
/* light theme  */
#switchButton .fa-sun {
  display: none;
}
#switchButton .fa-moon {
  display: block;
}

/* dark theme  */

.dark #switchButton .fa-sun {
  display: block;
}
.dark #switchButton .fa-moon {
  display: none;
}
/* BANNER part  */
.dark .banner_overlay {
  background: rgba(29, 42, 55, 0.781);
}
/* SERVICES  */
.dark .services {
  background-color: #100F19;
}
.dark .services .services_title h3 {
  color: white;
}
.dark .services .services_content .content_left {
  background-color: #151421 !important;
}
.dark .services .services_content .content_left h3 {
  color: white;
}
.dark .services .services_content .content_left p {
  color: #C2C2C2;
}
/* SOLUTION 1  */
.dark .solution_1 {
  background-color: #151421;
}
.dark .solution_1 .sol_title h3 {
  color: white;
}
.dark .solution_1 .sol_item_box {
  background-color: #100F19;
}
.dark .solution_1 .sol_item_box .sol_item_text a {
  color: white;
}
.dark .solution_1 .sol_item_box .sol_item_text a:hover {
  color: #007826;
}
/* CONTACT  */
.dark .contact::before {
  background-color: rgb(29 42 55 / 80%);
}
.dark .contact .contact_right {
  background-color: #151421;
}
.dark .contact .contact_right .right_title h4 {
  color: white;
}
.dark .contact .contact_right .right_form form input {
  color: white;
  background-color: #100F19;
}
.dark .contact .contact_right .right_form form textarea {
  color: white;
  background-color: #100F19;
}
/* SOLUTION 2  */
.dark .solution_2 {
  background-color: #100F19;
}
.dark .solution_2 .sol2_title h3 {
  color: white;
}
.dark .solution_2 .sol2_content .sol2_item .sol2_item_box {
  background-color: #151421 !important;
}
.dark .solution_2 .sol2_content .sol2_item .sol2_item_box a {
  color: white;
}
.dark .solution_2 .sol2_content .sol2_item .sol2_item_box a:hover {
  color: #007826;
}
.dark .solution_2 .sol2_content .sol2_item .sol2_item_box p {
  color: #C2C2C2;
}
