* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Jost", sans-serif;
}

/* HEADER  */
header {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  height: 120px;
  z-index: 10;
  width: 100%;
  border-bottom: 1px solid rgba(128, 128, 128, 0.568);
  transition: all 0.5s;
}

/* HEADER NAV BAR  */
#navbarNavDropdown {
  justify-content: space-around;
  margin-left: 50px;
}
.navbar-nav {
  text-align: center;
}
.header_search {
  position: relative;
}
/* search button  */
.header_search .search-btn .icon-search {
  transition: all 0.5s ease-in-out;
}
.header_search .search-btn {
  display: inline-block;
  font-size: 15px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #198754;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s;
}
/* close button  */
.header_search .close-btn {
  height: 40px;
  width: 40px;
  position: absolute;
  bottom: -55px;
  opacity: 0;
  cursor: pointer;
  pointer-events: none;
  transform: rotate(90deg);
  transition: all 0.5s ease-in-out;
}
/* input search  */
header form .search-input {
  color: white;
  outline: none;
  font-size: 50px;
  border: none;
  padding: 20px;
  margin-left: 200px;
  width: 50%;
  top: calc(100% + 198px);
  position: absolute;
  pointer-events: none;
  opacity: 0;
  background-color: transparent;
  transition: all 0.5s;
  transform: translateX(100px);
}
/* search bar willl open when click on search btn  */
body.nav-search .header_search .search-btn {
  transform: scale(80);
}
body.nav-search .header_search .search-btn .icon-search {
  opacity: 0;
}
/* search bar will close when click on search close  */
body.nav-search .header_search .close-btn {
  opacity: 1;
  pointer-events: all;
  transform: rotate(0);
}
body.nav-search header form .search-input {
  opacity: 1;
  pointer-events: all;
  transform: translateX(0);
}

.navbar-nav .nav-item .nav-link.active {
  color: white !important;
}
.navbar-nav .nav-item {
  margin-right: 20px;
}
.navbar-nav .nav-item .nav-link {
  color: rgb(211, 208, 208) !important;
  transition: all 0.5s;
}
.navbar-nav .nav-item .nav-link:hover {
  color: white !important;
}

/* header logo  */
a span.logo_text {
  font-size: 30px;
  font-weight: bold;
}
a span.second_text {
  font-size: 14px;
  padding-left: 40px;
}

/* dropdown item active a  */
.dropdown-item {
  transition: all 0.5s;
}
.dropdown-item:hover {
  color: #3f3a64 !important;
}
.dropdown-item:focus,
.dropdown-item:hover {
  background-color: transparent;
}
.navbar-toggler {
  background-color: #009f4d;
}

/* BANNER  */
.banner {
  background-image: url(../img/pic1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 25rem;
  position: relative;
  z-index: 0;
}
.banner .banner_text {
  position: absolute;
  top: 65%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.banner .banner_text p {
  font-size: 20px;
  color: rgb(190, 190, 190);
}
.banner .banner_text h2 {
  font-size: 50px;
  color: white;
}
.banner_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgb(29 42 55 / 70%);
  z-index: -1;
}

/* COMPANY  */
.company {
  padding: 100px 0;
}

/* top, left part  */

.company_top .company_left .company_img img {
  max-width: 100%;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}
.company_top .company_left .company_img .img_text_box {
  background-color: #009f4d;
  text-align: center;
  width: 200px;
  height: 200px;
  position: absolute;
  right: calc(100% - 450px);
  bottom: 0;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transform: rotate(0.13turn);
  padding: 30px;
  z-index: 2;
}
.company_top .company_left .company_img .img_text_box .img_text {
  transform: rotate(313deg);
}
.company_top .company_left .company_img .img_text h3 {
  font-size: 40px;
  color: white;
  font-weight: 600;
}
.company_top .company_left .company_img .img_text p {
  font-size: 24px;
  color: rgb(190, 190, 190);
}
.company_top .company_left .company_img .img_shape {
  background-color: #009f4d;
  position: absolute;
  top: 0;
  z-index: -1;
  width: 500px;
  height: 500px;
  opacity: 0.5;
  transform: rotate(15deg);
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

/* top, right part  */
.company_top .company_right p.sub_title {
  font-size: 14px;
  color: grey;
  font-weight: 600;
}
.company_top .company_right h3 {
  font-size: 35px;
  color: #3f3a64;
  font-weight: 600;
  margin-bottom: 20px;
}
.company_top .company_right p.second_title {
  font-size: 24px;
  color: #3f3a64;
}
.company_top .company_right p.third {
  color: rgb(141, 141, 141);
}
.company_top .company_right button {
  padding: 15px 50px;
  border-radius: 5px;
  border: none;
  background-color: #009f4d;
  color: white;
  font-weight: 600;
  transition: all 0.5s;
}
.company_top .company_right button:hover {
  background-color: #017e3d;
}

.company_top .company_right a {
  color: #009f4d;
  font-size: 70px;
  display: inline-block;
  margin-left: 20px;
  width: 100px;
  height: 100px;
  vertical-align: middle;
}
/* POPUP part  */
#popup_video {
  position: relative;
  max-width: 768px;
  margin: 40px auto;
}
div#popup_video iframe {
  width: 100%;
  height: 400px;
  display: block;
  border-radius: 10px;
}
.mfp-close-btn-in .mfp-close {
  color: #fff;
}
.mfp-close,
.mfp-close:active {
  top: -40px;
  right: -10px;
}

/* start state */
.zoom_in_popup #popup_video {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}

/* animate in */
.zoom_in_popup.mfp-ready #popup_video {
  opacity: 1;
  transform: scale(1);
}

/* animate out */
.zoom_in_popup.mfp-removing #popup_video {
  transform: scale(0.8);
  opacity: 0;
}

/* Dark overlay, start state */
.zoom_in_popup.mfp-bg {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

/* animate in */
.zoom_in_popup.mfp-ready.mfp-bg {
  opacity: 0.95;
}

/* animate out */
.zoom_in_popup.mfp-removing.mfp-bg {
  opacity: 0;
}

/* bottom part  */
.company_bottom .bottom_item {
  display: flex;
  background-color: #f8f9fa;
  padding: 50px;
  gap: 30px;
  border-radius: 5px;
}
.company_bottom .bottom_item .bottom_item_text a {
  text-decoration: none;
  color: #3f3a64;
  font-size: 22px;
  font-weight: 600;
  transition: all 0.5s;
  display: inline-block;
  padding-bottom: 10px;
}
.company_bottom .bottom_item .bottom_item_text a:hover {
  color: #009f4d;
}

.company_bottom .bottom_item .bottom_item_text p {
  color: grey;
}
.company_bottom .bottom_item .bottom_item_logo span {
  color: #009f4d;
  font-size: 40px;
}

/* MARKETING  */
.marketing {
  background-color: #f8f9fa;
  padding: 100px 0;
}
.marketing .marketing_main .marketing_left .left_title p.sub_title {
  font-size: 14px;
  color: grey;
  font-weight: 600;
}
.marketing .marketing_main .marketing_left .left_title h3 {
  font-size: 35px;
  color: #3f3a64;
  font-weight: 600;
}
.marketing .marketing_main .marketing_left .left_content {
  display: flex;
}
.marketing .marketing_main .marketing_left .left_content .left_content_item {
  padding-top: 20px;
}
.marketing
  .marketing_main
  .marketing_left
  .left_content
  .left_content_item
  p.num {
  font-size: 35px;
  color: #009f4d;
}
.marketing_main .marketing_left .left_content .left_content_item h4 {
  font-size: 22px;
  color: #3f3a64;
  font-weight: 600;
}
.marketing
  .marketing_main
  .marketing_left
  .left_content
  .left_content_item
  p:last-child {
  color: grey;
  padding-top: 10px;
}
.marketing_main .marketing_right .right_item img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* BUSINESS  */
.business {
  background-image: url(../img/bg1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  height: 100%;
  z-index: 0;
  padding: 100px 0;
}
.business::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(29 42 55 / 70%);
  z-index: -1;
}
.business h3 {
  font-size: 35px;
  color: white;
  font-weight: 600;
  margin-bottom: 20px;
}
.business p {
  font-size: 17px;
  color: rgb(161, 160, 160);
}
.business a {
  color: white;
  font-size: 70px;
  display: inline-block;
  transition: all 0.5s;
}
.business a:hover {
  transform: scale(1.2);
}
/* POPUP 2 part  */
#popup_video2 {
  position: relative;
  max-width: 768px;
  margin: 40px auto;
}
div#popup_video2 iframe {
  width: 100%;
  height: 400px;
  display: block;
  border-radius: 10px;
}
.mfp-close-btn-in .mfp-close {
  color: #fff;
}
.mfp-close,
.mfp-close:active {
  top: -40px;
  right: -10px;
}

/* start state */
.zoom_in_popup #popup_video2 {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}

/* animate in */
.zoom_in_popup.mfp-ready #popup_video2 {
  opacity: 1;
  transform: scale(1);
}

/* animate out */
.zoom_in_popup.mfp-removing #popup_video2 {
  transform: scale(0.8);
  opacity: 0;
}

/* Dark overlay, start state */
.zoom_in_popup.mfp-bg {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

/* animate in */
.zoom_in_popup.mfp-ready.mfp-bg {
  opacity: 0.95;
}

/* animate out */
.zoom_in_popup.mfp-removing.mfp-bg {
  opacity: 0;
}

/* TEAM  */
.team {
  padding: 100px 0;
}
/* title  */
.team .team_title p.sub_title {
  font-size: 14px;
  color: grey;
  font-weight: 600;
}
.team .team_title h3 {
  font-size: 35px;
  color: #3f3a64;
  font-weight: 600;
}
/* content  */
.team_content .team_item .team_img {
  position: relative;
}
.team_content .team_item .team_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.team_content .team_item .team_text {
  margin-top: 20px;
}
.team_content .team_item .team_text a {
  text-decoration: none;
  color: #3f3a64;
  font-size: 20px;
  font-weight: 600;
  display: block;
}
.team_content .team_item .team_text a:hover {
  color: #009f4d;
}
.team_content .team_item .team_text p {
  color: grey;
  font-size: 17px;
}
/* overlay  */
.team_content .team_item .team_img .team_img_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.527);
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  opacity: 0;
  transition: all 0.5s;
}
.team_content .team_item .team_img .team_img_overlay .img_overlay_text {
  font-size: 20px;
  padding: 0px 20px;
  color: white;
  transform: translateY(144px);
  transition: all 0.5s;
}
.team_content .team_item .team_img .team_img_overlay .img_overlay_logo {
  transform: translateY(135px);
  transition: all 0.5s;
}
.team_content .team_item .team_img .team_img_overlay .img_overlay_logo a {
  text-decoration: none;
  display: inline-block;
  color: white;
  line-height: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.5s;
}
.team_content .team_item .team_img .team_img_overlay .img_overlay_logo a:hover {
  background-color: rgba(255, 255, 255, 0.233);
}
.team_content .team_item .team_img:hover .img_overlay_text {
  transform: translateY(0);
}
.team_content .team_item .team_img:hover .img_overlay_logo {
  transform: translateY(0);
}
.team_content .team_item .team_img:hover .team_img_overlay {
  opacity: 1;
}

/* US  */
.us {
  padding: 100px 0;
}
/* us top part  */
.us {
  background-color: #f7f7f7;
}
.us .us_top .us_top_title p {
  font-weight: 600;
  color: grey;
}
.us .us_top .us_top_title h3 {
  font-size: 35px;
  color: #3f3a64;
  font-weight: 600;
}
.us .us_top .us_top_item .us_top_item_text {
  padding: 0 20px;
}
.us .us_top .us_top_item .us_top_item_text a {
  text-decoration: none;
  color: #3f3a64;
  font-size: 24px;
  font-weight: 600;
  transition: all 0.5s;
}
.us .us_top .us_top_item .us_top_item_text a:hover {
  color: #009f4d;
}

.us .us_top .us_top_item .us_top_item_text p {
  color: grey;
  padding-top: 10px;
}
.us .us_top .us_top_item .us_top_item_icon span {
  font-size: 30px;
  width: 80px;
  height: 80px;
  display: inline-block;
  text-align: center;
  line-height: 80px;
  border-radius: 5px;
  margin-top: 10px;
}
.us .us_top .us_top_item .us_top_item_icon span.icon_1 {
  color: #009f4d;
  border: 1px solid #009f4d;
}
.us .us_top .us_top_item .us_top_item_icon span.icon_2 {
  color: #3f3a64;
  border: 1px solid #3f3a64;
}
.us .us_top .us_top_item .us_top_item_icon span.icon_3 {
  color: red;
  border: 1px solid red;
}
.us .us_top .us_top_item .us_top_item_icon span.icon_4 {
  color: orange;
  border: 1px solid orange;
}

/* us bottom part  */
.us_bottom {
  margin-top: 50px;
}
.us_bottom .us_bottom_content .us_bottom_left h3 {
  font-size: 35px;
  font-weight: 600;
  color: #3f3a64;
  margin-bottom: 20px;
}
.us_bottom .us_bottom_content .us_bottom_left p {
  color: grey;
}
.us_bottom .us_bottom_content .us_bottom_right button {
  padding: 15px 60px;
  color: white;
  font-weight: 600;
  border: none;
  background-color: #009f4d;
  border-radius: 10px;
  transition: all 0.5s;
}
.us_bottom .us_bottom_content .us_bottom_right button:hover {
  background-color: #007539;
}

/* FOOTER  */
footer {
  background-color: #151421;
}

/* middle part */
.footer_middle .middle_content .middle_icon a span.logo_text {
  font-size: 30px;
  font-weight: bold;
}
.footer_middle .middle_content .middle_icon a span.second_text {
  font-size: 14px;
  padding-left: 40px;
}
.footer_middle .middle_content_ul ul {
  list-style: none;
  padding-left: 0;
}
.footer_middle .middle_content_ul h3 {
  font-size: 22px;
}
.footer_middle_main .middle_content a.brand_logo {
  color: grey;
  transition: all 0.5s;
}
.footer_middle_main .middle_content a.brand_logo:hover {
  color: white;
}
.middle_content_ul.second ul li {
  margin-bottom: 10px;
  font-size: 18px;
}
.middle_content_ul.third ul li {
  margin-bottom: 10px;
  font-size: 18px;
}
.middle_content_ul.last ul li {
  margin-bottom: 10px;
  font-size: 18px;
}
.footer_middle_main .middle_content_ul ul li a {
  color: grey;
  transition: all 0.5s;
}
.footer_middle_main .middle_content_ul ul li a:hover {
  color: white;
}
.footer_middle {
  border-top: 1px solid rgba(128, 128, 128, 0.39);
}
/* footer copyright part  */
.footer_copyright {
  border-top: 1px solid rgba(128, 128, 128, 0.39);
}
.footer_copyright p a {
  color: #009f4d;
  transition: all 0.5s;
}
.footer_copyright p a:hover {
  color: white;
}

/* back to top  */
a.back_to_top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #009f4d;
  width: 50px;
  height: 50px;
  color: white;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
}
.cd-top {
  visibility: hidden;
}
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.cd-top--fade-out {
  opacity: 1;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* darklight theme  */
/* light theme  */
#switchButton .fa-sun {
  display: none;
}
#switchButton .fa-moon {
  display: block;
}

/* dark theme  */

.dark #switchButton .fa-sun {
  display: block;
}
.dark #switchButton .fa-moon {
  display: none;
}
/* BANNER part  */
.dark .banner_overlay {
  background: rgba(29, 42, 55, 0.781);
}
/* COMPANY part  */
.dark .company {
  background-color: #151421;
}
.dark .company_top .company_right h3 {
  color: white;
}
.dark .company_top .company_right p.second_title {
  color: white;
}
.dark .company_bottom .bottom_item {
  background-color: #100f19;
}
.dark .company_bottom .bottom_item .bottom_item_text a {
  color: white;
}
.dark .company_bottom .bottom_item .bottom_item_text a:hover {
  color: #009f4d;
}

/* MARKETING part  */
.dark .marketing {
  background-color: #100f19;
}
.dark .marketing .marketing_main .marketing_left .left_title h3 {
  color: white;
}
.dark .marketing_main .marketing_left .left_content .left_content_item h4 {
  color: white;
}
/* BUSINESS part  */
.dark .business::after {
  background-color: rgb(29 42 55 / 80%);
}
/* TEAM part  */
.dark .team {
  background-color: #151421;
}
.dark .team .team_title h3 {
  color: white;
}
.dark .team_content .team_item .team_text a {
  color: white;
}
.dark .team_content .team_item .team_text a:hover {
  color: rgb(0, 159, 77);
}
/* US part  */
.dark .us {
  background: #100f19;
}

.dark .us .us_top .us_top_title h3 {
  color: white;
}
.dark .us .us_top .us_top_item .us_top_item_text a {
  color: white;
}
.dark .us .us_top .us_top_item .us_top_item_text a:hover {
  color: rgb(0, 159, 77);
}
.dark .us_bottom .us_bottom_content .us_bottom_left h3 {
  color: white;
}
/* scroll function  */
.scrollTop {
  background-color: white;
  height: 100px;
  top: -20px;
  border-bottom: none;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
}
.scrollTop .navbar-nav .nav-item .nav-link.active {
  color: #009f4d !important;
}
.scrollTop span.logo_text {
  color: #3f3a64;
}
.scrollTop .navbar-nav .nav-item .nav-link {
  color: #3f3a64 !important;
}
.scrollTop #switchButton {
  color: #3f3a64 !important;
}
/* channge text and bg when in dark theme */
.dark .scrollTop {
  background-color: #151421;
}
.dark .scrollTop .navbar-nav .nav-item .nav-link.active {
  color: #009f4d !important;
}
.dark .scrollTop .navbar-nav .nav-item .nav-link {
  color: rgb(211, 208, 208) !important;
}
.dark .scrollTop #switchButton {
  color: white !important;
}
.dark .scrollTop span.logo_text {
  color: white;
}
/* RESPONESIVE */
/* DESKTOP  */
@media (min-width: 992px) and (max-width: 1199px) {
  /* HEADER part  */
  .navbar-nav {
    margin-left: 40px;
  }
  #navbarNavDropdown {
    justify-content: space-between;
    margin-left: 0;
  }
  /* COMPANY part  */
  .company_top .company_left .company_img .img_shape {
    width: 450px;
    height: 450px;
  }
  .company_top .company_left .company_img .img_text_box {
    right: calc(100% - 380px);
  }
  .company_bottom .bottom_item {
    padding: 15px;
  }
}
/* LARGE DESKTOP  */
@media (min-width: 1200px) and (max-width: 1399px) {
  /* COMPANY part  */
  .company_bottom .bottom_item {
    padding: 35px;
  }
}
/* TABLET  */
@media (min-width: 768px) and (max-width: 991px) {
  /* HEADER part */
  .header_search .search-btn {
    position: absolute;
    bottom: calc(100% + 217px);
    right: calc(100% - 555px);
  }
  .navbar-nav .nav-item {
    margin: 0;
  }
  .active {
    height: auto;
  }
  #navbarNavDropdown {
    margin: 0;
  }
  .header_search .close-btn {
    right: 70px;
    bottom: 180px;
  }
  header form .search-input {
    top: calc(100% + 50px);
    margin-left: 30px;
  }
  .dropdown-menu.show {
    text-align: center;
  }
  .dark .dropdown-menu.show {
    background-color: #151421;
    border: 1px solid rgba(128, 128, 128, 0.274);
  }
  #switchButton {
    position: absolute;
    top: calc(100% - 255px);
    right: calc(100% - 610px);
  }
  /* BANNER  */
  .banner {
    height: 20rem;
  }
  .banner .banner_text h2 {
    font-size: 40px;
  }
  /* COMPANY part  */
  .company_bottom .bottom_item {
    padding: 30px;
  }
  .bottom_item_box {
    padding: 10px;
  }
  .company_bottom {
    padding-top: 30px;
  }
  /* US part */
  .us_bottom .us_bottom_content .us_bottom_right {
    text-align: left !important;
  }
  /* FOOTER part  */
  .middle_content_ul.third {
    margin-top: 50px;
  }
}
/* MOBILE  */
@media (min-width: 576px) and (max-width: 767px) {
  /* HEADER part */
  .header_search .search-btn {
    position: absolute;
    bottom: calc(100% + 217px);
    right: calc(100% - 376px);
  }
  .navbar-nav .nav-item {
    margin: 0;
  }
  #navbarNavDropdown {
    margin: 0;
  }
  .active {
    height: auto;
  }
  .header_search .close-btn {
    right: 70px;
    bottom: 180px;
  }
  header form .search-input {
    top: calc(100% + 50px);
    margin-left: 30px;
  }
  .dropdown-menu.show {
    text-align: center;
  }
  .dark .dropdown-menu.show {
    background-color: #151421;
    border: 1px solid rgba(128, 128, 128, 0.274);
  }
  #switchButton {
    position: absolute;
    top: calc(100% - 255px);
    right: calc(100% - 430px);
  }
  /* BANNER  */
  .banner {
    height: 15rem;
  }
  .banner .banner_text {
    top: 75%;
  }
  .banner .banner_text h2 {
    font-size: 40px;
  }
  /* US */
  /* US bottom part  */
  .us_bottom_right {
    text-align: left !important;
  }
  /* FOOTER part  */
  .middle_content_ul.second {
    margin-top: 30px;
  }
  .middle_content_ul.third {
    margin-top: 30px;
  }

}
/* SMALLEST MOBILE */
@media (min-width: 428px) and (max-width: 575px) {
  /* HEADER part */
  .header_search .search-btn {
    position: absolute;
    bottom: calc(100% + 217px);
    right: 120px;
  }
  .navbar-nav .nav-item {
    margin: 0;
  }
  #navbarNavDropdown {
    margin: 0;
  }
  .active {
    height: auto;
  }
  .header_search .close-btn {
    right: 70px;
    bottom: 180px;
  }
  header form .search-input {
    top: calc(100% + 50px);
    margin-left: 30px;
  }
  .dropdown-menu.show {
    text-align: center;
  }
  .dark .dropdown-menu.show {
    background-color: #151421;
    border: 1px solid rgba(128, 128, 128, 0.274);
  }
  #switchButton {
    position: absolute;
    top: calc(100% - 255px);
    right: 65px;
  }
  /* BANNER  */
  .banner {
    height: 15rem;
  }
  .banner .banner_text {
    top: 75%;
  }
  .banner .banner_text h2 {
    font-size: 35px;
  }
  /* COMPANY part */
  .company_top .company_left .company_img .img_shape {
    width: 217px;
    height: 360px;
    top:-15px;
  }
  .company_top .company_left .company_img .img_text_box {
    right: calc(100% - 360px);
  }
  .company_top .company_right h3 {
    font-size: 28px;
  }
  .company_top .company_right p.second_title {
    font-size: 20px;
  }
  /* MARKETING part  */
  .marketing .marketing_main .marketing_left .left_title h3 {
    font-size: 28px;
  }
  /* BUSINESS part */
  .business h3 {
    font-size:28px;
  }
  /* TEAM part */
  .team .team_title h3 {
    font-size: 28px;
  }
  
  /* US */
  .us .us_top .us_top_title h3 {
    font-size: 28px;
  }
  /* US bottom part  */
  .us_bottom .us_bottom_content .us_bottom_left h3 {
    font-size: 28px;
  }

  .us_bottom_right {
    text-align: left !important;
  }

  /* FOOTER middle part  */
  .middle_content_ul.second {
    margin-top: 50px;
  }
  .middle_content_ul.third {
    margin-top: 50px;
  }
}
