* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Jost", sans-serif;
}

/* HEADER  */
header {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  height: 120px;
  z-index: 10;
  width: 100%;
  border-bottom: 1px solid rgba(128, 128, 128, 0.568);
  transition: all 0.5s;
}

/* HEADER NAV BAR  */
#navbarNavDropdown {
  justify-content: space-between;
}
.navbar-nav {
  margin-left: 200px;
}
.header_search {
  position: relative;
}
/* search button  */
.header_search .search-btn .icon-search {
  transition: all 0.5s ease-in-out;
}
.header_search .search-btn {
  display: inline-block;
  font-size: 15px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #198754;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s;
}
/* close button  */
.header_search .close-btn {
  height: 40px;
  width: 40px;
  position: absolute;
  bottom: -55px;
  opacity:0;
  cursor: pointer;
  pointer-events: none;
  transform: rotate(90deg);
  transition: all 0.5s ease-in-out;
  
}
/* input search  */
header form .search-input {
  color: white;
  outline: none;
  font-size: 50px;
  border: none;
  padding: 20px;
  margin-left: 200px;
  width: 50%;
  top: calc(100% + 198px);
  position: absolute;
  pointer-events: none;
  opacity: 0;
  background-color: transparent;
  transition: all 0.5s;
  transform: translateX(100px);
}
/* search bar willl open when click on search btn  */
body.nav-search .header_search .search-btn {
  transform: scale(80);
}
body.nav-search .header_search .search-btn .icon-search {
  opacity:0;
}
/* search bar will close when click on search close  */
body.nav-search .header_search .close-btn {
  opacity: 1;
  pointer-events: all;
  transform: rotate(0);
  
}
body.nav-search header form .search-input {
  opacity: 1;
  pointer-events: all;
  transform: translateX(0);

}

.navbar-nav .nav-item .nav-link.active {
  color: white !important;
}
.navbar-nav .nav-item {
  margin-right: 20px;
}
.navbar-nav .nav-item .nav-link {
  color: rgb(211, 208, 208) !important;
  transition: all 0.5s;
}
.navbar-nav .nav-item .nav-link:hover {
  color: white !important;
}

/* header logo  */
a span.logo_text {
  font-size: 30px;
  font-weight: bold;
}
a span.second_text {
  font-size: 14px;
  padding-left: 40px;
}

/* dropdown item active a  */
.dropdown-item {
  transition: all 0.5s;
}
.dropdown-item:hover {
  color: #3f3a64 !important;
}
.dropdown-item:focus,
.dropdown-item:hover {
  background-color: transparent;
}


/* BANNER  */
.banner {
  background-image: url(../img/pic1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 50vh;
  position: relative;
}
.banner .banner_text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.banner .banner_text p {
  font-size: 20px;
  color: rgb(190, 190, 190);
}
.banner .banner_text h2 {
  font-size: 50px;
  color: white;
}
.banner_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgb(29 42 55 / 70%);
}

/* CONTACT 1  */
.contact_1 {
  background-color: #f8f9fa;
}
/* title  */
.contact_1 .cont1_title h3 {
  font-size: 35px;
  font-weight: 600;
  color: #3f3a64;
}
.contact_1 .cont1_title p {
  color: grey;
}
/* content  */
.cont1_item .cont1_item_box {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 30px;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
}
.cont1_item .cont1_item_box .cont1_icon span {
  font-size: 30px;
}

.cont1_item .cont1_item_box .cont1_text h4 {
  font-size: 22px;
  font-weight: 600;
  color: #3f3a64;
}
.cont1_item .cont1_item_box .cont1_text p {
  color: grey;
}
.cont1_item .cont1_item_box .cont1_text a {
  transition: all 0.5s !important;
}
.cont1_item .cont1_item_box .cont1_text a:hover {
  color: #3f3a64 !important;
}

/* CONTACT 2 */
.contact_2 {
  background-color: #f8f9fa;
}
/* title  */
.contact_2 .cont2_title h3 {
  font-size: 35px;
  color: #3f3a64;
  font-weight: 600;
}
.contact_2 .cont2_title p {
  color: grey;
}
/* content  */
.contact_2 .container .contact_2_cover {
  max-width: 800px;
  margin: auto;
}
.cont2_content form .cont2_input {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.cont2_content form .cont2_input input {
  padding: 20px;
}
.cont2_content form textarea {
  width: 100%;
  margin: 30px 0;
  padding: 20px;
  resize: none;
}
.cont2_content form button {
  padding: 10px 50px;
  font-weight: 600;
}

/* FOOTER  */
footer {
  background-color: #151421;
}

/* middle part */
.footer_middle .middle_content .middle_icon a span.logo_text {
  font-size: 30px;
  font-weight: bold;
}
.footer_middle .middle_content .middle_icon a span.second_text {
  font-size: 14px;
  padding-left: 40px;
}
.footer_middle .middle_content_ul ul {
  list-style: none;
  padding-left: 0;
}
.footer_middle_main .middle_content a.brand_logo {
  color: grey;
  transition: all 0.5s;
}
.footer_middle_main .middle_content a.brand_logo:hover {
  color: white;
}
.footer_middle_main .middle_content_ul ul li a {
  color: grey;
  transition: all 0.5s;
}
.footer_middle_main .middle_content_ul ul li a:hover {
  color: white;
}
.footer_middle {
  border-top: 1px solid rgba(128, 128, 128, 0.39);
}
/* footer copyright part  */
.footer_copyright {
  border-top: 1px solid rgba(128, 128, 128, 0.39);
}
.footer_copyright p a {
  color: #009f4d;
  transition: all 0.5s;
}
.footer_copyright p a:hover {
  color: white;
}

/* back to top  */
a.back_to_top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #009f4d;
  width: 50px;
  height: 50px;
  color: white;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
}
.cd-top {
  visibility: hidden;
}
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.cd-top--fade-out {
  opacity: 1;
}
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* darklight theme  */
/* light theme  */
#switchButton .fa-sun {
  display: none;
}
#switchButton .fa-moon {
  display: block;
}

/* dark theme  */
.dark#myMain {
  background-color: #100F19;
}


.dark #switchButton .fa-sun {
  display: block;
}
.dark #switchButton .fa-moon {
  display: none;
}
/* BANNER part  */
.dark .banner_overlay {
  background: rgba(29, 42, 55, 0.781);
}
/* CONTACT 1 part  */
.dark .contact_1 {
  background-color: #100F19;
}
.dark .cont1_title h3 {
  color: white;
}
.dark .cont1_icon span {
  color: white;
}
.dark .cont1_item .cont1_item_box .cont1_text h4 {
  color: white;
}
.dark .cont1_item .cont1_item_box {
  background-color:#151421;
}
.dark .cont1_item .cont1_item_box .cont1_text a:hover {
  color: white !important;
}
/* CONTACT 2 part  */
.dark .contact_2 {
  background-color:#100F19;
}
.dark .contact_2 .cont2_title h3 {
  color: white;
}
.dark .form-control {
  background-color: #151421;
  border:1px solid transparent;
  outline:none;
  transition: all 0.5s;
  color: white;
  
}
.dark .form-control:hover {
  border: 1px solid white;
}
/* scroll function  */
.scrollTop {
  background-color: white;
  height: 100px;
  top: -20px;
  border-bottom: none;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
}
.scrollTop .navbar-nav .nav-item .nav-link.active {
  color: #009f4d !important;
}
.scrollTop span.logo_text {
  color: #3f3a64;
}
.scrollTop .navbar-nav .nav-item .nav-link {
  color: #3f3a64 !important;
}
.scrollTop #switchButton {
  color: #3f3a64 !important;
}
/* channge text and bg when in dark theme */
.dark .scrollTop {
  background-color: #151421;
}
.dark .scrollTop .navbar-nav .nav-item .nav-link.active {
  color: #009f4d !important;
}
.dark .scrollTop .navbar-nav .nav-item .nav-link {
  color: rgb(211, 208, 208) !important;
}
.dark .scrollTop #switchButton {
  color: white !important;
}
.dark .scrollTop span.logo_text {
  color: white;
}

